@import './App.scss';
.form-view {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid $primary-color;
  padding: 1rem 2rem;
  padding-top: 2rem;
  border-radius: 0.5rem;
  input,
  select {
    border: 0;
    outline: 0;
    border-bottom: 1px solid $primary-color;
  }
  input {
    padding: 0 0 0.5rem 0.5rem;
  }
  select:hover {
    cursor: pointer;
  }
  button {
    align-self: center;
    background-color: transparent;
    width: fit-content;
    padding: 0.5rem 2rem;
    border: 1px solid $add-btn-color;
    outline: 0;
    border-radius: 3px;
    color: $add-btn-color;
    &:hover {
      cursor: pointer;
    }
  }
}
